.therapist-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 90vw;
  height: 75vh;
  background: #000000;
  opacity: 0.8;
  box-shadow: 0px 0px 4px 4px rgba(255, 255, 255, 0.5);
  padding: 1%;
  overflow-y: scroll;
  overflow-x: hidden;
}