.outbound-page {
  width: 80vw;
  height: 62.5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

p,
.thank-you {
  display: flex;
  justify-content: center;
  letter-spacing: 1px;
  margin-top: 1%;
  font-size: 1rem;
  width: 80%;
}

.button {
  color: #FFFFFF;
  letter-spacing: 2.5px;
  background-color: rgb(88, 24, 69);
  height: 5vh;
  width: 10vw;
  border: 0px;
  border-radius: 10px;
  box-shadow: 0px 0px 2px 2px rgba(255, 255, 255, 0.5);
  margin: 2% 0 2% 0;
}

.button:hover {
  cursor: pointer;
}

.our-info {
  width: 60%;
  display: flex;
  letter-spacing: 1px;
  border-radius: 10px;
  flex-direction: column;
  align-items: center;
  font-size: 1rem;
  margin-top: 5%;
  margin-bottom: 5%;
  box-shadow: 0px 0px 4px 4px rgba(255, 255, 255, 0.5);
}

.ali, .candace, .dana, .emily, .taryn, .thomas, .will {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.linkedin-icon,
.github-icon {
    width: 13px;
    /* filter: invert(100%) sepia(0%) saturate(2%) hue-rotate(216deg) brightness(108%) contrast(101%); */
    margin: 0px 5px 0px 5px;
}