.app-main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.app-header {
  height: 20vh;
  width: 95vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 5rem;
  font-family: 'Hammersmith One', sans-serif;
}