.footer {
  border: 2px solid red;
  width: 100%;
  height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.resources {
  border: 2px solid blue;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.general {
  border: 2px solid green;
}

.coping {
  border: 2px solid white;
  display: flex;
  flex-direction: column;
}

.help-lines {
  border: 2px solid orange;
}