.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: 10vh;
  margin: 0.5%;
}

.resources {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.links {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.coping-links {
  display: flex;
  justify-content: space-between;
  width: 50vw;
}

a {
  color: #5ad3ff
}